<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MotomanSystem.MotocomSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MotomanSystem.MotocomSettings>
            <setting name="R1OffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R1OffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R1OffsetZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R1OffsetRX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R1OffsetRY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R1OffsetRZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R1OriginalX" serializeAs="String">
                <value>572.805</value>
            </setting>
            <setting name="R1OriginalY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R1OriginalZ" serializeAs="String">
                <value>523.095</value>
            </setting>
            <setting name="R1OriginalRX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R1OriginalRY" serializeAs="String">
                <value>0.004</value>
            </setting>
            <setting name="R1OriginalRZ" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="R2OffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R2OffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R2OffsetZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R2OffsetRX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R2OffsetRY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R2OffsetRZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R2OriginalX" serializeAs="String">
                <value>674.53</value>
            </setting>
            <setting name="R2OriginalY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R2OriginalZ" serializeAs="String">
                <value>908.48</value>
            </setting>
            <setting name="R2OriginalRX" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="R2OriginalRY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R2OriginalRZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ParkingBackwordDistance" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="DeltaParkToPark" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DeltaParkToEngage" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DeltaEngageToPark" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DeltaEngageToEngage" serializeAs="String">
                <value>100</value>
            </setting>
        </MotomanSystem.MotocomSettings>
    </userSettings>
</configuration>